In [24]:
import pandas as pd
from pathlib import Path
from src.data_loader import load_and_clean_generation
from src.data_loader import load_and_clean_sensor

In [25]:
path_1 = Path("data/raw/Plant_1_Generation_Data.csv")
path_2 = Path("data/raw/Plant_1_Weather_Sensor_Data.csv")

In [26]:
gen_1 = load_and_clean_generation(path_1)
sen_1 = load_and_clean_sensor(path_2)

e:\solar-power-forecast-project\src\data_loader.py:8: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df = pd.read_csv(path, parse_dates=['DATE_TIME'])

In [27]:
gen_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68778 entries, 0 to 68777
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATE_TIME     68778 non-null  datetime64[ns]
 1   SOURCE_KEY    68778 non-null  object
 2   DC_POWER      68778 non-null  float64
 3   AC_POWER      68778 non-null  float64
 4   DAILY_YIELD   68778 non-null  float64
 5   TOTAL_YIELD   68778 non-null  float64
 6   HOUR          68778 non-null  int32
 7   DATE          68778 non-null  object
 8   INVERTER_EFF  36827 non-null  float64
dtypes: datetime64[ns](1), float64(5), int32(1), object(2)
memory usage: 4.5+ MB

In [28]:
sen_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            3182 non-null   datetime64[ns]
 1   SOURCE_KEY           3182 non-null   object
 2   AMBIENT_TEMPERATURE  3182 non-null   float64
 3   MODULE_TEMPERATURE   3182 non-null   float64
 4   IRRADIATION          3182 non-null   float64
 5   HOUR                 3182 non-null   int32
 6   DATE                 3182 non-null   object
dtypes: datetime64[ns](1), float64(3), int32(1), object(2)
memory usage: 161.7+ KB

In [29]:
df_merge = pd.merge(gen_1, sen_1, on="DATE_TIME", how="left")

In [30]:
pwd

'e:\\solar-power-forecast-project'

In [31]:
df_merge.head()

,DATE_TIME,SOURCE_KEY_x,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,HOUR_x,DATE_x,INVERTER_EFF,SOURCE_KEY_y,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,HOUR_y,DATE_y
0,2020-05-15,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,0,2020-05-15,NaN,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0,0.0,2020-05-15
1,2020-05-15,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0,0,2020-05-15,NaN,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0,0.0,2020-05-15
2,2020-05-15,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0,0,2020-05-15,NaN,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0,0.0,2020-05-15
3,2020-05-15,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0,0,2020-05-15,NaN,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0,0.0,2020-05-15
4,2020-05-15,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0,0,2020-05-15,NaN,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0,0.0,2020-05-15

In [32]:
df_merge.columns

Index(['DATE_TIME', 'SOURCE_KEY_x', 'DC_POWER', 'AC_POWER', 'DAILY_YIELD',
       'TOTAL_YIELD', 'HOUR_x', 'DATE_x', 'INVERTER_EFF', 'SOURCE_KEY_y',
       'AMBIENT_TEMPERATURE', 'MODULE_TEMPERATURE', 'IRRADIATION', 'HOUR_y',
       'DATE_y'],
      dtype='object')

In [34]:
cols_to_drop = ["SOURCE_KEY_y", "HOUR_y", "DATE_y"]
df_merge = df_merge.drop(columns=cols_to_drop)

In [35]:
df_merge.to_csv("data/processed/gen_sen_merged.csv", index=False, encoding="utf-8-sig")